{% extends "layout.html" %}

{% block tittle %}
Remover equipes
{% endblock %}

{% block body %}
<div class="col-md-10 mx-auto col-lg-5">
    <div class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
        <div style="text-align: center;">
            <h1>Remover equipes:</h1>
        </div>
        <br>
        <form action="/deleteEquipes" onsubmit="confirmTec()" method="POST" id="exc" style="text-align: center;">
            <label for="equipe">Equipe: </label>

            <select name="equipe">
                <option value="Equipe" selected disabled>Equipe</option>
                {% for equipe in equipes %}
                <option value="{{ equipe.name }}">{{ equipe.name }}</option>
                {% endfor %}
            </select>

            <!-- <input type="text" name="equipe" autocomplete="off" placeholder="Equipe" required autofocus> -->
            <button type="submit">Enviar</button>
        </form>
        <br>
        {{ informSucess }}
        <br>
        <form action="/" method="GET" style="text-align: center;">
            <button type="submit">Página inicial</button>
        </form>
    </div>
</div>

<script>
    let text = "Você está prestes a apagar todas as informaçãoes dessa equipe!\nTem certeza?"

    function confirmTec() {
        if(confirm(text) == true) {
            this.form.submit();
        } else {
            event.stopPropagation()
            event.preventDefault()
        }
      }
</script>

{% endblock %}