{% extends "layout.html" %}

{% block tittle %}
Adicionar equipe
{% endblock %}

{% block body %}
<div class="col-md-10 mx-auto col-lg-5">
    <div class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
        <div style="text-align: center;">
            <h1>Adicionar nova equipe:</h1>
        </div>
        <br>
        <form action="/equipes" method="POST" style="text-align: center;">
            <label for="equipe">Equipe: </label>
            <input type="text" name="equipe" autocomplete="off" placeholder="Equipe" required autofocus>
            <button type="submit">Enviar</button>
        </form>
        <br>
        {{ informSucess }}
        <br>
        <form action="/" method="GET" style="text-align: center;">
            <button type="submit">Página inicial</button>
        </form>
    </div>
</div>
{% endblock %}